.unique {
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 15px 15px;
    width: 50%;
}

.spoiler {
    background-color: black;
    color: black;
    cursor: pointer;
}

.normal {
    background-color:white;
    color:black;
    cursor:default;
}

.calculatorColumn {
    color: #839496;
    display: block;
}

.calculatorButton {
    background-color: #002B36;
    color: #839496;
    text-align: center;
    display: inline-block;
    font-size: 36px;

    width: 86px;
    height: 86px;
}

/* Colours are from Solarized colourscheme */
.calculatorResultScreen {
    background-color: #073642;
    color: #839496;
    font-size: 34px;
    display: block;
    text-align: right;

    width: 265px;
}